1.project_exercise/src/main/mule/Exercise.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="dc032c96-36b7-4cc9-bbaf-a7d977ab6f80" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="ExerciseFlow" doc:id="8b112e56-b6dc-4a3f-bd83-f722ccdc808d" >
		<http:listener doc:name="HTTP GET" doc:id="a352637c-0b67-4533-8de7-b6390c0f7911" config-ref="HTTP_Listener_config2" path="/exercise/{ID}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="05ec161b-3329-48a8-a87f-d68f89c86448" message='#["log start -" ++ flow.name]'/>
		<set-payload value='#[%dw 2.0

output application/json
---
{
"uriParams" :  attributes.uriParams,
"queryParams": attributes.queryParams
}]' doc:name="Set Payload" doc:id="6c0f290a-ac49-4451-b120-9d9bdee4ad6c" />
		<logger level="INFO" doc:name="Log End" doc:id="32d41967-3a71-4dd4-a462-6f78217a450f" message='#["log end -" ++ flow.name]'/>
	</flow>
</mule>
