1.project_zero/src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="04c994ca-2ac9-44a2-a8f3-65763607074b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="355c0779-c46e-487d-863e-13e0dcf672e5" responseTimeout="9000000">
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="Queryparams" doc:id="8e5810f3-f6d4-4430-b432-fed6555327b4" >
		<http:listener doc:name="HTTP GET" doc:id="8ac81678-cc47-4eec-b87a-5887b05e4c06" config-ref="HTTP_Listener_config" path="/queryParams" allowedMethods="GET "/>
		<logger level="INFO" doc:name="Log Start" doc:id="277f9a90-d503-479f-9611-a803c85b1173" message='#["log start-"++ flow.name]'/>
		<set-payload value="#[%dw 2.0

output application/json
---
attributes.queryParams]" doc:name="Set Payload" doc:id="206e97b9-a588-4f10-aff6-3aea54d3f508" />
	</flow>
	<flow name="uriParams" doc:id="fb27d49f-9252-4d4e-b913-2e23951134e8" >
		<http:listener doc:name="HTTP GET" doc:id="3644717f-8d7c-480a-96f3-ae60d463b8f4" config-ref="HTTP_Listener_config" path="/uriParams/{ID}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log Start" doc:id="74352d25-336c-4ce3-a6a9-e17d41310ff9" message='#["Log Start -" ++ flow.name]'/>
		<set-payload value='#[attributes.uriParams."ID"]' doc:name="Set Payload" doc:id="e2e5d8cd-e5a4-4669-8278-5308458318b2" />
	</flow>
	<flow name="Basics" doc:id="5b22df26-071d-4c62-9e90-c9486ffe8cc8" >
		<http:listener doc:name="HTTP GET " doc:id="e6fc3a49-8334-44a1-9791-971a3a4abdf7" config-ref="HTTP_Listener_config" path="/basics/*" allowedMethods="GET">
			<http:response >
				<http:body ><![CDATA[#[vars.requestResponse]]]></http:body>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Log Start  " doc:id="46f0f074-2e0b-4fa3-8d97-0acaf916b9da" message='#["log start -" ++ flow.name]'/>
		<set-payload value='#["this is basic flow of payload"]' doc:name="Set Payload" doc:id="256e816f-63c6-41f1-b6a4-066e929beffd" />
		<set-variable value="#[{
	'param1' : 'value1',
	'param2' : 'value2',
	'param3' : 'value3',
}]" doc:name="Set query params" doc:id="31a82c68-cf4d-430c-84b1-c774006106ad" variableName="customMap"/>
		<http:request method="GET" doc:name="Request" doc:id="cb5cf74f-76b4-45bd-baf7-82f503c731b1" path="/queryParams" config-ref="HTTP_Request_configuration" target="RequestResponse">
			<http:query-params ><![CDATA[#[output application/java
---

{
	(k1: vars.customMap.param1) if(vars.customMap.param1 !=null and vars.customMap.param1 !=''),
	(k2: vars.customMap.param2) if(vars.customMap.param2 !=null and vars.customMap.param2 !=''),
	(k3: vars.customMap.param3) if(vars.customMap.param3 !=null and vars.customMap.param3 !='')
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Log End" doc:id="5dd96566-372e-4bda-a79d-7f62d016ac6c" message='#["log end -" ++ flow.name]'/>
	</flow>
</mule>
